.enrollment {
    padding: 20px;
    text-align: center;
    width: 100%;
    font-family: 'Garamond', serif; /* Elegant font for a classic feel */
    height: 200vh;
  }
  .header{
    background-image: url(./Images/enrollement_bg.jpg);
    height: 70vh;
    width: 100%;
    background-repeat: no-repeat; /* Prevents the background from repeating */
    background-size:cover;  /*Makes sure the background covers the entire area */
    background-attachment: fixed;
    position: absolute;
    left: 0; 
    top: 0;
  }
  .header h1{
    font-size: 120px;
    position: relative;
    top: 80px;
    color: white;
  }
  .header h3{
    color: white;
    font-size: 20px;
    position: relative;
    top: 10px;
    line-height: 0%;
  }

  .sec{
    position: absolute;
    top: 320px;
  }
  
  label {
    margin-left: 10px;
  }
  
  .submitButton {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #0066cc;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submitButton:hover {
    background-color: #005bb5;
  }
  .contents{
    height: 50vh;
    width: 100%;
  }
  .contents h2{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Added shadow for better contrast */
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    justify-content: center;
  }